@import './normalize.css';

body{
    padding: 100px 20px;
    font-family: sans-serif;
    background-color: #ededed;   
}

#error-page{
    padding: 15% 0;
    text-align: center;
}

/* utilizado para Sucursales y Empleados Pages */
.headerFlex{    
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.newEmpSuc{
    text-decoration: none;
    color: black;
    border: 3px solid black;
    border-radius: 6px;   
    min-width: 150px;
    text-align: center;
    height: 35px;
    line-height: 32px;
}
.newEmpSuc:hover{
    border-color: blue;
    transition: 0.5s;
    box-shadow: 0px 2px 10px ;
}
/* utilizado para Sucursales y Empleados Pages */

.isLoading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15% 45%;
    font-size: 20px;
}

.contBtnEnviar{
   padding: 0 20px;     
}
.hr{
    margin: 0 15px;
}

.btn{
    font-size: 15px;
}


.subtitulosPage{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    text-decoration: underline 3px;     
}


@media (max-width: 770px){
    .newEmpSuc{        
        min-width: 100px; 
        height:  40px;
        line-height: 18px;       
    }
    .isLoading{
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 50% 45%;
        font-size: 15px;
    }
}