.contenedor{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: solid 3px;
  border-radius: 10px;
  max-width: 400px;
  min-width: 230px;
  padding: 30px;
  align-items: center;
  text-align: center;
  margin: 60px auto;
  background-color: rgb(204, 204, 204);
}

.labels{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  padding: 10px 0;
}

.navlink{
  text-decoration: none;  
}

